.console-container {
  min-width: 420px;
  max-width: 420px;
  height: 100vh;
  max-height: 100vh;
}

.main-container {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem 6rem 20rem 6rem;
}

.btn {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
}

.hide {
  display: none;
}

.tag {
  position: relative;
  z-index: 1;
  border-radius: 4px;
  padding: 2px 4px;
}
.tag::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 0;
  border-radius: 4px;
  background-color: var(--cyan);
}

.module-banner {
  background-size: cover;
  height: 240px;
  width: 100%;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    padding: 0.5rem 4rem 20rem 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    padding: 0.5rem 1.85rem 20rem 1.85rem !important;
  }
}

@media screen and (max-width: 870px) {
  .console-container {
    min-width: 100vw;
    max-width: 100vw;
  }
  .console-container.minimized {
    max-height: 74px;
  }

  .flex-col-sm {
    flex-direction: column !important;
  }

  .block-md {
    display: block;
  }
}

@media screen and (max-width: 398px) {
  .minimized > .console-content > div {
    overflow-y: hidden !important;
  }
}