@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./animations.css");
@import url("./components.css");

@font-face {
  font-family: 'CascadiaCode';
  src: url(/assets/fonts/CascadiaCode.ttf);
  display: swap;
}

* {
  font-family: 'CascadiaCode', monospace;
  font-size: 0.9375rem;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
  margin-top: 1.5rem;
}

h2 {
  font-size: 2.25em;
  line-height: 1.2;
  margin-top: 1rem;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 1rem;
}

h4 {
  font-size: 1.125em;
  line-height: 1.2;
  margin-top: 0.5rem;
}

h5 {
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.5rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
  line-height: 1.2;
}

li {
  line-height: 1.2;
}

code {
  background-color: black;
  color: white;
  padding: 0 4px;
}

button {
  border: 1px solid var(--cursorColor);
  padding: 12px;
}

a {
  text-decoration: underline;
}

ol {
  list-style-type: decimal;
}

ol > li {
  margin-left: 2.33em;
}

ul > li.bullet-list-item::before {
  content: "-";
  margin-left: 0.5em;
  margin-right: 1.25em;
}