@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CascadiaCode';
  display: swap;
}

* {
  font-size: 0.9375rem;
}

html,
body {
  padding: 0 !important;
}

html {
  font-family: 'CascadiaCode', monospace;
}

.main-container {
  font-family: var(--theme-font);
}

a {
  font-size: inherit;
}

blockquote {
  margin: 1rem 0;
}

blockquote > p {
  margin: 0;
}

html,
body {
  overflow: hidden;
}

body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
  max-height: 100vh;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.bg-cover {
  background-size: cover !important;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.25em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 1rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
  line-height: 1.2;
}

li {
  line-height: 1.2;
}

pre,
code {
  background-color: var(--black);
  color: var(--white);
  padding: 0 4px;
  border-radius: 4px;
}

button {
  border: 1px solid var(--highlight);
  padding: 12px;
}

a {
  text-decoration: underline;
}

ol {
  list-style-type: decimal;
  margin-left: 2em !important;
}

ol > li,
li > span > ul {
  margin-left: 2.33em;
}

li > span > ul,
li > span > ol {
  margin-bottom: 1.25em;
}

ul > li.bullet-list-item::before {
  content: '-';
  margin-left: 0.5em;
  margin-right: 1.25em;
}

.remove-btn-styling {
  border: inherit;
  padding: inherit;
  background: inherit;
}
